body{
    background-color:rgba(130, 201, 230, 0.877);
}
.box{
    height: 100px;
    width: 81%;
    display: flex;
    gap: 200px;
    background-color:white;
    margin: 0px 130px;
}
h3,p{
    margin: 30px 20px;
}
h1,hr{
    margin: 10px 130px;
}
.box1{
    height: 400px;
    width: 81%;
    display: flex;
    gap: 0px;
    background-color:white;
    margin: 30px 130px;
}
.f1{
    margin: 10px 50px;
    width: 100%;
}
    
.f{
    margin: 10px 50px;
    width: 100%;
    }
h2{
    margin: 0px 20px;
}
input{
    
    height: 25px;
    
}
#ud{
    background-color: rgb(248, 10, 10);
}